In [1]:
import pandas as pd


df = pd.read_csv('road_accidents.csv')

In [2]:
df

,Weather,Road Condition,Traffic Volume,Driver Age,Vehicle Age,Speed,Time of Day,Accident Severity
0,Foggy,Wet,39,59,17,103,Night,3
1,Snowy,Dry,55,57,10,98,Night,3
2,Rainy,Icy,96,59,18,98,Night,1
3,Snowy,Dry,89,24,4,86,Day,3
4,Rainy,Dry,89,30,8,117,Night,3
...,...,...,...,...,...,...,...,...
95,Rainy,Wet,86,48,12,81,Night,2
96,Sunny,Wet,25,36,14,78,Day,2
97,Snowy,Icy,69,23,11,40,Day,2
98,Snowy,Wet,24,61,18,88,Day,1
99,Snowy,Wet,96,50,17,98,Day,2

In [3]:

df_sliced = df.iloc[78:]

In [4]:

df_sliced.to_csv('ajali.csv', index=False)

In [5]:
mydata=pd.read_csv('ajali.csv')

In [6]:
mydata

,Weather,Road Condition,Traffic Volume,Driver Age,Vehicle Age,Speed,Time of Day,Accident Severity
0,Foggy,Wet,33,25,11,72,Day,2
1,Snowy,Wet,56,66,19,66,Day,2
2,Sunny,Dry,86,65,10,83,Night,2
3,Snowy,Wet,63,36,12,63,Day,1
4,Sunny,Icy,45,29,14,44,Day,2
5,Rainy,Icy,90,44,10,108,Night,3
6,Snowy,Dry,69,45,12,56,Day,3
7,Sunny,Wet,33,56,4,106,Day,1
8,Rainy,Wet,50,77,11,110,Night,3
9,Foggy,Icy,53,54,1,108,Day,1
10,Foggy,Icy,78,47,2,50,Day,3
11,Rainy,Icy,24,72,9,72,Night,1
12,Rainy,Dry,24,32,13,71,Day,2
13,Sunny,Icy,79,28,12,75,Day,2
14,Sunny,Icy,59,33,13,91,Night,2
15,Rainy,Dry,75,74,16,97,Day,3
16,Sunny,Wet,82,41,14,89,Day,2
17,Rainy,Wet,86,48,12,81,Night,2
18,Sunny,Wet,25,36,14,78,Day,2
19,Snowy,Icy,69,23,11,40,Day,2
20,Snowy,Wet,24,61,18,88,Day,1
21,Snowy,Wet,96,50,17,98,Day,2

In [7]:

X = df[['Driver Age']]  # Independent variables
y = df['Accident Severity']  # Dependent variable

In [8]:

X = X.fillna(X.mean())
y = y.fillna(y.mean())

In [9]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error


model = LinearRegression()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 0.6711479748468923

In [11]:
import joblib

joblib.dump(model, 'linear_regression_model.pkl')
print("Model saved successfully!")

Model saved successfully!

In [13]:
import numpy as np
import joblib


model = joblib.load('linear_regression_model.pkl')


hypothetical_data = np.array([[50]])

percentage_killed = (predicted_killed[0] / total_road_accidents) * 100
predicted_killed = model.predict(hypothetical_data)
total_road_accidents =200

if percentage_killed > 5:
    severity_level = 3  
elif 2 <= percentage_killed <= 5:
    severity_level = 2  
else:
    severity_level = 1  

print(f"Predicted number of persons killed: {predicted_killed[0]:.2f}")
print(f"Percentage of persons killed: {percentage_killed:.2f}%")
print(f"Severity level: {severity_level} (1 = Low, 2 = Average, 3 = High)")

Predicted number of persons killed: 2.05
Percentage of persons killed: 1.02%
Severity level: 1 (1 = Low, 2 = Average, 3 = High)

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(